.user-info{
    border: 1px solid gray;
    width: 400px;
    float: left;
    margin-bottom: 15px;
    margin-right: 12px;
    padding-bottom: 12px;
    background-color: rgb(239, 241, 236);
    color: rgb(26, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    
}
.half-image img{
    width: 90px;
    padding: 18px;
    
}
.half-image{
   float: left;
   width: 40%;
}

.half-text{
    float:left;
    font-family: cursive;
}

.half-text button{
    margin-right: 10px;
}